<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <testsuites>
        <testsuite name="ThankQ Test Suite">
            <directory>./tests/unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./lib</directory>
            <directory>./vendor</directory>
        </whitelist>
    </filter>
</phpunit>
